---
layout: default
title: "Ed."
---
<div class="introduction">
  <h1>Hello</h1>

  <p>
    My name is Alessandro and I've been a functional programming enthousiast for
    over 8 years. First in Haskell now in Scala.

    I'm a Functional Programming evangelist at ING Bank where I maintain core libraries and frameworks for the API Platform and train colleagues in functional and reactive programming with Scala and Akka.
  </p>

  <p>My interests
    are in all things related to programming language design, compilers, and resilient systems.
    I get excited by opportunities to remove redundant code through abstraction.
  </p>
  <p>
    This blog exists so I can write down interesting tidbits I stumble upon and
    to share the ideas I occasionally have.
  </p>
</div>

<hr>

{% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
